name: build

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [main]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run lint

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: rm -rf dist
      - run: npm ci
      - run: npm run build
      - uses: actions/upload-artifact@v6
        with:
          name: build
          path: dist
          retention-days: 1

  build-action:
    name: build-action
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: rm -rf dist
      - uses: actions/download-artifact@v7
        with:
          name: build
          path: dist
      - run: |
          cd action
          npm ci
      - run: npm run --prefix action build
